$card-outlined-border-width: thin !default;
$card-overflow-wrap: break-word !default;
$card-white-space: normal !default;

$card-title-font-size: 1.25rem !default;
$card-title-font-weight: 500 !default;
$card-title-letter-spacing: .0125em !default;
$card-title-line-height: 2rem !default;
$card-title-word-break: break-all !default;
$card-title-padding: 10px !default;

$card-actions-padding: 10px !default;

$card-text-font-size: 1rem !default;
$card-text-font-weight: 400 !default;
$card-text-letter-spacing: .0125em !default;
$card-text-line-height: 1.2rem !default;