@import './variables.scss';


%ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

%clamp {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// Block
.v-card {
  border-width: $card-outlined-border-width;
  display: block;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  transition-property: box-shadow, opacity;
  overflow-wrap: $card-overflow-wrap;
  position: relative;
  white-space: $card-white-space;
  border-radius: 4px;
  background-color: #fff;
  color: rgba(0,0,0,.87);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  min-width: 320px;
}


.v-card__title {
  padding: $card-title-padding;
}


.v-card__title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: $card-title-font-size;
  font-weight: $card-title-font-weight;
  letter-spacing: $card-title-letter-spacing;
  line-height: $card-title-line-height;
  word-break: $card-title-word-break;
}

.v-card__footer {
  display: flex;
  padding: $card-actions-padding;
  align-items: center;
}

.v-card__text {
  text-align: left;
  width: 100%;
  padding: $card-actions-padding;
  font-size: $card-text-font-size;
  font-weight: $card-text-font-weight;
  line-height: $card-text-line-height;
  letter-spacing: $card-text-letter-spacing;

  * {
    @extend %clamp;
  }
}


