$transition: () !default;
$transition: map-merge(
  (
    'fast-out-slow-in': cubic-bezier(.4, 0, .2, 1),
    'linear-out-slow-in': cubic-bezier(0, 0, .2, 1),
    'fast-out-linear-in': cubic-bezier(.4, 0, 1, 1),
    'ease-in-out': cubic-bezier(.4, 0, .6, 1),
    'fast-in-fast-out': cubic-bezier(.25, .8, .25, 1),
    'swing': cubic-bezier(.25, .8, .5, 1)
  ),
  $transition
);
$primary-transition: .3s map-get($transition, 'swing') !default;

$overlay-transition: $primary-transition, z-index 1ms !default;